@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;/* altura mínima do body*/
    background-color: darkgrey;
    font-family: var(--fonte1);
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;/*com este comando o conteúdo se adapta ao tamanho da tela*/
}

header > p {
    padding-bottom: 50px;    
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;    
}

section {
    padding-top: 10vh; /*usamos esse comando para ganaharmos espaço para utilizar o paradax*/
    padding-bottom: 10vh;
    line-height: 2em;/*espaçamento entre letras*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;/*5% da largura da vewport com este comando o conteúdo se adapta ao tamanho da tela*/
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(66, 66, 66);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-color: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block; /*a caixa se adapta ao conteúdo*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/joaninha-full.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/livro-relogio.jpg');
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

i {
    font-size: 1.2em;
}